@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --header-color: #001233;
  --bg-color-primary: #979dac;
  --bg-color-secondary: #33415c;
  --font-color-primary: #fefcfb;
  --font-color-secondary: #001233;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  background-color: var(--bg-color-primary);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  .name {
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins';
    white-space: nowrap;
    color: var(--font-color-primary);
  }

  .container {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 999;
  }

  .hamburger {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999;

    div {
      border-bottom: 4px solid #fefcfb;
      width: 32px;
    }
  }

  nav {
    display: flex;
    position: fixed;
    z-index: 998;
    padding-right: 8px;
    top: 42px;
    background-color: var(--header-color);
    border-radius: 0 15px;
    transform: scaleY(0);
    transition: transform 0.7s;
    transform-origin: top;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px;
      margin: 0;

      .navlink {
        list-style: none;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.3s;
        transition-delay: 0.5;

        a {
          text-decoration: none;
          color: var(--font-color-primary);

          &:hover {
            color: var(--bg-color-secondary);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.about-page {
  background-color: var(--bg-color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  h1 {
    margin-top: 48px;
  }

  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: min(40%, 400px);
      border-radius: 20px;
      border: 2px solid black;
    }
    .description {
      background-color: var(--bg-color-secondary);
      color: var(--font-color-primary);
      padding: 32px;
      font-size: 1.1rem;
      border-radius: 20px;
      border: 2px solid black;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos {
    display: flex;
    gap: 8px;
    align-items: center;

    img {
      max-height: 75px;
      max-width: 75px;
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .links {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        max-height: 75px;
        max-width: 150px;
      }
    }
  }
}

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  background-color: var(--bg-color-primary);

  h1 {
    margin-top: 48px;
    margin-bottom: 36px;
    color: black;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        margin: 0;
      }

      .project {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width: 300px;

        .project-img {
          border-radius: 20px 20px 0 0;
          width: 300px;
          height: 300px;
          background-color: var(--bg-color-secondary);
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 100%;
          }
        }

        .project-info {
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: var(--bg-color-secondary);
          border-radius: 0px 0px 20px 20px;

          .project-description {
            margin: 16px;
            font-size: 1.2rem;
            color: var(--font-color-primary);
          }

          .project-links {
            display: flex;
            justify-content: left;
            gap: 16px;
            margin-left: 16px;
            margin-bottom: 8px;

            img {
              max-height: 40px;
            }
          }
        }
      }
    }
  }
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-primary);
  height: 100vh;

  h1 {
    margin-top: 48px;
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--bg-color-secondary);
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
    color: var(--font-color-primary);
    font-size: 1.1rem;
    width: clamp(280px, 80%, 600px);

    .field {
      display: flex;
      gap: 2px;
      flex-direction: column;
      width: 100%;

      input[type='email'],
      textarea {
        background-color: var(--bg-color-primary);
        border: none;
        border-radius: 15px;
        padding: 8px;

        &:focus {
          outline: 2px solid var(--font-color-primary);
        }
      }

      textarea {
        resize: none;
        height: 150px;
      }
    }
    input[type='submit'] {
      background-color: var(--bg-color-primary);
      border-radius: 10px;
      border: none;
      padding: 8px;
      width: 50%;
      font-weight: bold;

      &:hover {
        background-color: var(--header-color);
        color: var(--font-color-primary);
      }
    }
  }
}

@media (min-width: 720px) {
  header {
    justify-content: space-around;

    .name {
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
      font-size: 1.8rem;
    }

    .hamburger {
      display: none;
    }

    .container {
      display: flex;
      justify-content: left;
    }

    nav {
      position: relative;
      top: 0;
      justify-content: center;
      align-items: center;
      transform: scaleY(1);

      ul {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-left: 128px;

        .navlink {
          font-size: 1.3rem;
          opacity: 100%;
        }
      }
    }
  }

  .about-page {
    .container {
      flex-direction: row;

      .description {
        height: 100%;
      }

      .description {
        width: 60%;
      }
    }
  }

  .projects-page {
    .projects {
      .project-container {
        .project {
          grid-template-columns: 1fr 2fr;
          grid-template-rows: 1fr;
          width: 600px;

          .project-img {
            border-radius: 20px 0 0 20px;
          }

          .project-info {
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }
  }

  .contact-page {
    form {
      .field {
      }
    }
  }
}
